body {
  background-color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;;
}

button {
  cursor: pointer;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 15px 0 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  /* Style the hamburger menu */
  .topnav .icon {
    background: black;
    display: block;
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 30px;
    
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .topnav .active {
    background-color: black;
    color: white;
    font-family: 'Sacramento', cursive;;
    font-weight: bold;
    font-size: 32px;
    display: block;
    text-align: center;
  }

  .topnav .btn {
    display: inline;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    background-color: white;
    color: black;
    border-style: none;
    padding: 0;
  } 

  .header {
    color: white;
    text-align: center;
    padding: 0 0 10px;
  }
  
  #logo {
    display: none;
  }

  #sub-header {
    display: none;
  }

  .header h1 {
    padding-top: 20px;
    color: skyblue;
  }

  .header .call2 {
    margin-top: 170px;
  }

  .header img {
    width: 100%;
  }

  .header-btns button {
    width: 80%;
    height: 40px;
    margin: 8px;
    border-radius: 7px;
    font-weight: bold;
  }

  .plans {
    background-color: rgb(0, 173, 239);
    color: white;
    border-style: none;
    
  }

  .join {
    background-color: black;
    color: white;
    border: white 2px solid;
  }

  .tile-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 60px;
  }

  .tile-container .marketing, .employee, .yoga {
    width: 85%;
    height: 445px;
    border-radius: 15px;
  }

  .tile-container img {
    border-radius: 10px;
  }

  .tile-container img {
    width: 90%;
    padding-top: 20px;
    border-radius: 10px;
  }

  .tile-container h2 {
    color: white;
  }

  .tile-container button {
    border: solid black 2px;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
  }

  .tile-text {
    text-align: left;
    margin: 0 auto;
    padding: 0 20px 0 20px
  }

  .marketing, .marketing button {
    background-color: white;
    transition: all .2s ease-in-out;
  }

  .employee, .employee button {
    background-color: white;
    transition: all .2s ease-in-out;
  }

  .yoga, .yoga button {
    background-color: white;
    transition: all .2s ease-in-out;
  }

  .integration-tile {
    background-color: white;
    height: 600px;
    text-align: center;
    width: 100%;
padding: 20px 0;
  }

  .integration-tile p {
    font-size: 20px;
    padding: 20px;
  }

  .icon-container img {
    width: 50px;
    height: 50px;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
  }

  .icons-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .icons-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .trusted-tile h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
  }

  .trusted-tile {
    height: 650px;
    margin: auto;
  }

  .testamonial-tile {
    background-color: white;
    border-radius: 25px;
    padding-top: 30px;
    margin: 0 auto 100px;
    width: 80%;
    height: 200px;
  }

  .para {
    padding-left: 15px;
    padding-right: 15px;
  }

  .trusted-tile .header-btns {
    text-align: center;
  }

  .footer {
    padding: 35px 0 0 0;
  }

  .footer p {
    color: white;
    font-size: 10px;
    text-align: center;
  }

  .footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
  }

  .socials {
    display: flex;
    justify-content:center;
    gap: 25px
  }


  @media only screen and (min-width: 700px) {
    .tile-container {
      flex-direction: row;

    }

    .tile-container .marketing, .employee, .yoga {
      width: 85%;
      height: 550px;
      border-radius: 15px;
      margin: 0 20px 0 20px;
    }

    .header-btns button {
      width: 20%;
      height: 40px;
      margin: 30px;
      border-radius: 7px;
      font-weight: bold;
      transition: all .2s ease-in-out;
  }

  .header-btns button:hover {
    transform: scale(1.05);
  }

  .marketing button:hover {
    transform: scale(1.05);
  }

  .employee button:hover {
    transform: scale(1.05);
  }

  .yoga button:hover {
    transform: scale(1.05);
  }

  .testamonial-tile {
    background-color: white;
    border-radius: 25px;
    padding-top: 30px;
    margin: 0 auto 100px;
    width: 30%;
    height: 200px;
  }

  .icons-left {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .icons-right {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .integration-tile {
    background-color: white;
    height: 250px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .icon-container img {
    transition: all .2s ease-in-out;
  }

  .icon-container img:hover {
    transform: scale(1.2);
  }

  #logo {
    color: black;
    position: absolute;
    font-size: 150px;
    font-weight: bolder;
    display: inline;
    top: 75px;
    font-family: 'Sacramento', cursive;
    left: 200px;
  }

  #sub-header {
    color: black;
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    display: inline;
    top: 350px;
    font-family: 'Montserrat', sans-serif;
    left: 170px;
  }

  .header img {
    height: 600px;
    object-fit: cover;
    object-position: 0 25%;
  }
}